.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslateblue;
    border-color: #1ea7fd;
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.count {
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: darkslateblue;
    border-color: #1ea7fd;
    border-radius: 8px;
}

.red {
    color: red;
}

.normal {
    background-color: yellow;
}